.nodeBase {
  cursor: zoom-out;
  fill: #777;
  stroke: #000;
  stroke-width: 2;
}

.collapsed {
  cursor: zoom-in;
}

.leafNodeBase {
  fill: transparent;
  stroke: #000;
  stroke-width: 2;
}

.nodeNameBase {
  cursor: pointer;
  fill: #2a97d2;
  stroke: #2a97d2;
  stroke-width: 1;
}

.nodeAttributesBase {
  fill: #777;
  stroke: #777;
  stroke-width: 1;
  font-size: smaller;
}
